<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forest Report</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .truncate-lines-3 {
            display: block;
            overflow: hidden;
            max-height: 4.5rem; /* Approximately 3 lines */
            position: relative;
            transition: max-height 0.5s ease-in-out;
        }
        .full-height {
            max-height: 50rem; /* A large value to ensure full height */
            transition: max-height 0.5s ease-in-out;
        }
        .truncate-lines-3::after {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 1.5rem; /* Height of the last line */
            background: linear-gradient(to top, white, transparent);
        }
        .card-container {
            background-color: #f9fafb;
        }
    </style>
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">
    <div class="container mx-auto p-4">
        {% if object_type == 'farm' %}
        <div class="container mx-auto p-6">
            <h1 class="text-3xl font-bold mb-6 text-center text-green-800">Farm Report</h1>
            <div class="bg-white shadow-lg rounded-lg p-6 mb-6 border border-gray-200">
                <h2 class="text-2xl font-semibold mb-4 text-gray-800">Farm Information</h2>
                <div class="text-gray-700 mb-4">
                    <p class="text-lg font-medium"><span class="font-semibold">Farm ID:</span> {{ farm.farm_id }}</p>
                    <p class="text-lg font-medium"><span class="font-semibold">Name:</span> {{ farm.name }}</p>
                    <p class="text-lg font-medium"><span class="font-semibold">Subcounty:</span> {{ farm.subcounty }}</p>
                    <p class="text-lg font-medium"><span class="font-semibold">District:</span> {{ farm.district_name }}</p>
                    <p class="text-lg font-medium"><span class="font-semibold">Region:</span> {{ farm.district_region }}</p>
                    <p class="text-lg font-medium"><span class="font-semibold">Geolocation:</span> {{ farm.geolocation }}</p>
                    <p class="text-lg font-medium"><span class="font-semibold">Phone Number:</span> {{ farm.phonenumber }}</p>
                    <p class="text-lg font-medium"><span class="font-semibold">Alternate Phone Number:</span> {{ farm.phonenumber2 }}</p>
                    <p class="text-lg font-medium"><span class="font-semibold">Date Created:</span> {{ farm.date_created }}</p>
                    <p class="text-lg font-medium"><span class="font-semibold">Date Updated:</span> {{ farm.date_updated }}</p>
                </div>
                <div class="bg-gray-50 p-4 rounded-md border border-gray-300">
                    <h3 class="text-xl font-semibold mb-4 text-gray-800">Crop Information</h3>
                    <ul class="space-y-4">
                        {% for crop in farm.crops %}
                            <li class="bg-white p-4 rounded-md shadow-sm border border-gray-200">
                                <p><span class="font-semibold">Crop ID:</span> {{ crop.crop_id }}</p>
                                <p><span class="font-semibold">Crop Name:</span> {{ crop.crop_name }}</p>
                                <p><span class="font-semibold">Land Type:</span> {{ crop.land_type }}</p>
                                <p><span class="font-semibold">Tilled Land Size:</span> {{ crop.tilled_land_size }} sq. meters</p>
                                <p><span class="font-semibold">Planting Date:</span> {{ crop.planting_date }}</p>
                                <p><span class="font-semibold">Season:</span> {{ crop.season }}</p>
                                <p><span class="font-semibold">Quality:</span> {{ crop.quality }}</p>
                                <p><span class="font-semibold">Quantity:</span> {{ crop.quantity }} units</p>
                                <p><span class="font-semibold">Expected Yield:</span> {{ crop.expected_yield }} kg</p>
                                <p><span class="font-semibold">Actual Yield:</span> {{ crop.actual_yield }} kg</p>
                                <p><span class="font-semibold">Harvest Date:</span> {{ crop.harvest_date }}</p>
                                <p><span class="font-semibold">Timestamp:</span> {{ crop.timestamp }}</p>
                                <p><span class="font-semibold">Channel Partner:</span> {{ crop.channel_partner }}</p>
                                <p><span class="font-semibold">Destination Country:</span> {{ crop.destination_country }}</p>
                                <p><span class="font-semibold">Customer Name:</span> {{ crop.customer_name }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% elif object_type == 'forest' %}
        <div class="container mx-auto p-4">
            <h1 class="text-3xl font-bold mb-6 text-center text-green-800">Forest Report</h1>
            <div class="bg-white shadow-lg rounded-lg p-6 mb-6 border border-gray-200">
                <h2 class="text-2xl font-semibold mb-4 text-gray-800">Forest Information</h2>
                <div class="text-gray-700 mb-4">
                    <p class="text-lg font-medium"><span class="font-semibold">Forest Name:</span> {{ forest.name }}</p>
                    <p class="text-lg font-medium"><span class="font-semibold">Forest ID:</span> {{ forest.id }}</p>
                    <p class="text-lg font-medium"><span class="font-semibold">Date Created:</span> {{ forest.date_created.strftime('%Y-%m-%d %H:%M:%S') }}</p>
                    <p class="text-lg font-medium"><span class="font-semibold">Date Updated:</span> {{ forest.date_updated.strftime('%Y-%m-%d %H:%M:%S') }}</p>
                    <p class="text-lg font-medium"><span class="font-semibold">Created By User ID:</span> {{ forest.created_by }}</p>
                    <p class="text-lg font-medium"><span class="font-semibold">Modified By User ID:</span> {{ forest.modified_by }}</p>
                    <p class="text-lg font-medium"><span class="font-semibold">Created By:</span> {{ forest.created_by_user.username if forest.created_by_user else 'Unknown' }}</p>
                    <p class="text-lg font-medium"><span class="font-semibold">Modified By:</span> {{ forest.modified_by_user.username if forest.modified_by_user else 'Unknown' }}</p>
                </div>
            </div>
        </div>
        {% endif %}

        <h1 class="text-3xl font-bold mb-6 text-center text-green-800">Dataset Results</h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
            {% for result in dataset_results %}
                <div class="card-container bg-white shadow-lg rounded-lg p-6 max-w-sm border border-gray-200">
                    <h2 class="text-2xl font-semibold mb-4 text-gray-800">{{ result.dataset | remove_gfw | replace('_', ' ') | title }}</h2>
                    <div class="text-gray-700 mb-4">
                        {% for field, value in result.data_fields.items() %}
                            <p class="font-medium text-gray-800">{{ field.replace('_', ' ').title() }}:</p>
                            <p class="text-lg">{{ value }}</p>
                        {% endfor %}
                    </div>
                    <div class="text-gray-700">
                        <p class="font-medium text-gray-800">Coordinates:</p>
                        <pre id="coordinates-{{ loop.index }}" class="text-sm truncate-lines-3 whitespace-pre-wrap">{{ result.coordinates | tojson | safe }}</pre>
                        <button id="toggle-button-{{ loop.index }}" class="mt-2 text-blue-500 hover:underline" onclick="toggleCoordinates('{{ loop.index }}')">Show More</button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script>
        function toggleCoordinates(index) {
            var preElement = document.getElementById('coordinates-' + index);
            var button = document.getElementById('toggle-button-' + index);
            if (preElement.classList.contains('truncate-lines-3')) {
                preElement.classList.remove('truncate-lines-3');
                preElement.classList.add('full-height');
                button.textContent = 'Show Less';
            } else {
                preElement.classList.add('truncate-lines-3');
                preElement.classList.remove('full-height');
                button.textContent = 'Show More';
            }
        }
    </script>
</body>
</html>
