{% extends 'layout.html' %}

{% block title %}Farmer Groups{% endblock %}

{% block content %}
<div class="flex justify-between mb-8">
    <h1 class="text-4xl font-bold">Farmer Groups</h1>
    <button onclick="openModal('fgModal')" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Create Farmer Group</button>
</div>

<div class="bg-white shadow-md rounded my-6">
    <table class="min-w-full bg-white">
        <thead class="bg-gray-800 text-white">
            <tr>
                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Name</th>
                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Description</th>
                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Actions</th>
            </tr>
        </thead>
        <tbody class="text-gray-700">
            {% for farmer_group in farmer_groups %}
            <tr>
                <td class="text-left py-3 px-4">{{ farmer_group.name }}</td>
                <td class="text-left py-3 px-4">{{ farmer_group.description }}</td>
                <td class="text-left py-3 px-4">
                    <a href="{{ url_for('farmergroup.edit_fg', fg_id=farmer_group.id) }}" class="text-blue-600 hover:text-blue-800">Edit</a>
                    <form action="{{ url_for('farmergroup.delete_fg', fg_id=farmer_group.id) }}" method="POST" style="display:inline;">
                        <button type="submit" class="text-red-600 hover:text-red-800 ml-4">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% include 'farmergroup/_farmergroup_form_modal.html' %}
</div>
<script>
    function openModal(modalId) {
            document.getElementById(modalId).classList.remove('hidden');
        }

    document.addEventListener('DOMContentLoaded', function() {
        
        function closeModal(modalId) {
            console.log('Closing modal:', modalId);
            const modal = document.getElementById(modalId);
            modal.classList.add('hidden');
        }

        document.getElementById('cancelfgButton').addEventListener('click', function() {
            closeModal('fgModal');
        });

        console.log('Script loaded and event listeners attached');
    });
</script>

{% endblock %}
