MYSQL_HOST=localhost
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DB=

SECRET_KEY=
JWT_SECRET_KEY=

SENTINEL_CLIENT_ID=
SENTINEL_CLIENT_SECRET=

STORAGE_BACKEND=local
S3_BUCKET=
S3_REGION=auto
S3_ENDPOINT_URL=
S3_PUBLIC_BASE_URL=

MOBILE_MONEY_API_URL=
MOBILE_MONEY_STATUS_URL=
MOBILE_MONEY_VERIFY_SSL=false

FRONTEND_URL=
DPO_REDIRECT_URL=
DPO_BACK_URL=
DPO_COMPANY_TOKEN=
DPO_SERVICE_TYPE=

SUPPORTED_CURRENCIES=UGX,USD,KES,TZS,ZAR
DEFAULT_CURRENCY=UGX

CORS_ORIGINS=