[Unit]
Description=Gunicorn instance to serve myapp
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/root/farm_management
ExecStart=/root/farm_management/venv/bin/gunicorn -b 0.0.0.0:5000 -w 4 run:app --config gunicorn_config.py

[Install]
WantedBy=multi-user.target