-- MySQL dump 10.13  Distrib 8.0.36, for Win64 (x86_64)
--
-- Host: localhost    Database: qrcode
-- ------------------------------------------------------
-- Server version	8.0.36

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `crop`
--

DROP TABLE IF EXISTS `crop`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `crop` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `weight` float NOT NULL,
  `category_id` int NOT NULL,
  `date_created` datetime DEFAULT CURRENT_TIMESTAMP,
  `date_updated` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `modified_by` int DEFAULT NULL,
  `created_by` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `category_id` (`category_id`),
  KEY `fk_crop_modified_by` (`modified_by`),
  KEY `fk_crop_created_by` (`created_by`),
  CONSTRAINT `crop_ibfk_1` FOREIGN KEY (`category_id`) REFERENCES `producecategory` (`id`),
  CONSTRAINT `fk_category_id` FOREIGN KEY (`category_id`) REFERENCES `producecategory` (`id`),
  CONSTRAINT `fk_crop_created_by` FOREIGN KEY (`created_by`) REFERENCES `user` (`id`),
  CONSTRAINT `fk_crop_modified_by` FOREIGN KEY (`modified_by`) REFERENCES `user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `crop`
--

LOCK TABLES `crop` WRITE;
/*!40000 ALTER TABLE `crop` DISABLE KEYS */;
INSERT INTO `crop` VALUES (1,'Cocoa',1,1,'2024-06-11 09:17:49','2024-06-11 09:17:49',NULL,NULL),(2,'Coffee Robusta',1,2,'2024-06-11 09:18:10','2024-06-11 09:18:10',NULL,NULL),(3,'Coffee Arabica',1,3,'2024-06-11 09:18:29','2024-06-11 09:18:29',NULL,NULL),(4,'Oil Palm',2,4,'2024-06-11 09:18:43','2024-06-11 09:18:43',NULL,NULL),(5,'Soya Bean',1,5,'2024-06-11 09:19:00','2024-06-11 09:19:00',NULL,NULL),(6,'Rubber',3,6,'2024-06-11 09:19:23','2024-06-11 09:19:23',NULL,NULL),(7,'Hass Avocado',1,4,'2024-06-21 11:51:47','2024-06-21 11:51:47',NULL,NULL);
/*!40000 ALTER TABLE `crop` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `district`
--

DROP TABLE IF EXISTS `district`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `district` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `region` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `date_created` datetime DEFAULT CURRENT_TIMESTAMP,
  `date_updated` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `modified_by` int DEFAULT NULL,
  `created_by` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_district_modified_by` (`modified_by`),
  KEY `fk_district_created_by` (`created_by`),
  CONSTRAINT `fk_district_created_by` FOREIGN KEY (`created_by`) REFERENCES `user` (`id`),
  CONSTRAINT `fk_district_modified_by` FOREIGN KEY (`modified_by`) REFERENCES `user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `district`
--

LOCK TABLES `district` WRITE;
/*!40000 ALTER TABLE `district` DISABLE KEYS */;
/*!40000 ALTER TABLE `district` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `farm`
--

DROP TABLE IF EXISTS `farm`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `farm` (
  `id` int NOT NULL AUTO_INCREMENT,
  `farm_id` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `subcounty` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `farmergroup_id` int NOT NULL,
  `district_id` int NOT NULL,
  `geolocation` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `date_created` datetime DEFAULT CURRENT_TIMESTAMP,
  `date_updated` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `phonenumber` varchar(20) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `phonenumber2` varchar(20) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `created_by` int DEFAULT NULL,
  `modified_by` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `farm_id` (`farm_id`),
  KEY `farmergroup_id` (`farmergroup_id`),
  KEY `district_id` (`district_id`),
  KEY `fk_farm_created_by` (`created_by`),
  KEY `fk_farm_modified_by` (`modified_by`),
  CONSTRAINT `farm_ibfk_1` FOREIGN KEY (`farmergroup_id`) REFERENCES `farmergroup` (`id`),
  CONSTRAINT `farm_ibfk_2` FOREIGN KEY (`district_id`) REFERENCES `district` (`id`),
  CONSTRAINT `fk_farm_created_by` FOREIGN KEY (`created_by`) REFERENCES `user` (`id`),
  CONSTRAINT `fk_farm_district_id` FOREIGN KEY (`district_id`) REFERENCES `district` (`id`),
  CONSTRAINT `fk_farm_farmergroup_id` FOREIGN KEY (`farmergroup_id`) REFERENCES `farmergroup` (`id`),
  CONSTRAINT `fk_farm_modified_by` FOREIGN KEY (`modified_by`) REFERENCES `user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `farm`
--

LOCK TABLES `farm` WRITE;
/*!40000 ALTER TABLE `farm` DISABLE KEYS */;
/*!40000 ALTER TABLE `farm` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `farmdata`
--

DROP TABLE IF EXISTS `farmdata`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `farmdata` (
  `id` int NOT NULL AUTO_INCREMENT,
  `farm_id` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  `crop_id` int NOT NULL,
  `land_type` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `tilled_land_size` float NOT NULL,
  `planting_date` date NOT NULL,
  `season` int NOT NULL,
  `quality` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `quantity` int NOT NULL,
  `harvest_date` date NOT NULL,
  `expected_yield` float NOT NULL,
  `actual_yield` float NOT NULL,
  `timestamp` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `channel_partner` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `destination_country` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `customer_name` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `date_created` datetime DEFAULT CURRENT_TIMESTAMP,
  `date_updated` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `created_by` int DEFAULT NULL,
  `modified_by` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `farm_id` (`farm_id`),
  KEY `crop_id` (`crop_id`),
  KEY `fk_farmdata_created_by` (`created_by`),
  KEY `fk_farmdata_modified_by` (`modified_by`),
  CONSTRAINT `farmdata_ibfk_1` FOREIGN KEY (`farm_id`) REFERENCES `farm` (`farm_id`),
  CONSTRAINT `farmdata_ibfk_2` FOREIGN KEY (`crop_id`) REFERENCES `crop` (`id`),
  CONSTRAINT `fk_farmdata_created_by` FOREIGN KEY (`created_by`) REFERENCES `user` (`id`),
  CONSTRAINT `fk_farmdata_crop_id` FOREIGN KEY (`crop_id`) REFERENCES `crop` (`id`),
  CONSTRAINT `fk_farmdata_farm_id` FOREIGN KEY (`farm_id`) REFERENCES `farm` (`farm_id`),
  CONSTRAINT `fk_farmdata_modified_by` FOREIGN KEY (`modified_by`) REFERENCES `user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `farmdata`
--

LOCK TABLES `farmdata` WRITE;
/*!40000 ALTER TABLE `farmdata` DISABLE KEYS */;
INSERT INTO `farmdata` VALUES (1,'B0001',1,'Titled',2,'2024-06-11',1,'1',2000,'2024-06-29',2000,1800,'2024-10-29 12:21:00','Sasakawa','Italy','AgroPlus','2024-06-11 09:23:06','2024-06-11 09:23:06',NULL,NULL),(2,'WAK0002',7,'Titled',2,'2024-02-01',2,'1',2,'2024-08-29',3,2,'2024-08-30 20:03:00','Sasakawa','Italy','AgroPlus','2024-06-21 12:03:51','2024-06-21 12:03:51',NULL,NULL);
/*!40000 ALTER TABLE `farmdata` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `farmergroup`
--

DROP TABLE IF EXISTS `farmergroup`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `farmergroup` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `description` text COLLATE utf8mb4_general_ci,
  `date_created` datetime DEFAULT CURRENT_TIMESTAMP,
  `date_updated` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `modified_by` int DEFAULT NULL,
  `created_by` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_farmergroup_modified_by` (`modified_by`),
  KEY `fk_farmergroup_created_by` (`created_by`),
  CONSTRAINT `fk_farmergroup_created_by` FOREIGN KEY (`created_by`) REFERENCES `user` (`id`),
  CONSTRAINT `fk_farmergroup_modified_by` FOREIGN KEY (`modified_by`) REFERENCES `user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `farmergroup`
--

LOCK TABLES `farmergroup` WRITE;
/*!40000 ALTER TABLE `farmergroup` DISABLE KEYS */;
INSERT INTO `farmergroup` VALUES (1,'Buikwe Cocoa','Sasakawa Cocoa Farmers','2024-06-11 09:00:27','2024-06-11 09:00:27',NULL,NULL),(2,'Mpigi Cocoa Farmers','Mpigi Cocoa Farmers','2024-06-11 09:01:11','2024-06-11 09:01:11',NULL,NULL),(3,'HFZ Kabumba','Hungerfree Coop','2024-06-11 10:22:44','2024-06-11 10:22:44',NULL,NULL),(4,'AbanyaRwenzori Coop','Rwenzori Subregion-Arabica Coffee','2024-06-24 14:06:03','2024-06-24 14:06:03',NULL,NULL);
/*!40000 ALTER TABLE `farmergroup` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `forest`
--

DROP TABLE IF EXISTS `forest`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `forest` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `date_created` datetime DEFAULT CURRENT_TIMESTAMP,
  `date_updated` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `created_by` int DEFAULT NULL,
  `modified_by` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_forest_created_by` (`created_by`),
  KEY `fk_forest_modified_by` (`modified_by`),
  CONSTRAINT `fk_forest_created_by` FOREIGN KEY (`created_by`) REFERENCES `user` (`id`),
  CONSTRAINT `fk_forest_modified_by` FOREIGN KEY (`modified_by`) REFERENCES `user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `forest`
--

LOCK TABLES `forest` WRITE;
/*!40000 ALTER TABLE `forest` DISABLE KEYS */;
INSERT INTO `forest` VALUES (1,'Mulimbwa-Namawaata','2024-06-11 09:32:39','2024-07-14 01:25:33',8,NULL),(2,'Mulimbwa-Adjacent','2024-06-21 07:25:55','2024-07-14 01:25:33',8,NULL),(4,'Bweyogerere-Eucalyptus-Bypass','2024-06-21 08:09:27','2024-07-14 01:25:33',8,NULL),(5,'Eucalyptus- SmallNBypass','2024-06-21 08:22:21','2024-07-14 01:25:33',8,NULL);
/*!40000 ALTER TABLE `forest` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `point`
--

DROP TABLE IF EXISTS `point`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `point` (
  `id` int NOT NULL AUTO_INCREMENT,
  `longitude` float NOT NULL,
  `latitude` float NOT NULL,
  `owner_type` enum('forest','farmer') COLLATE utf8mb4_general_ci NOT NULL,
  `forest_id` int DEFAULT NULL,
  `farmer_id` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `district_id` int NOT NULL,
  `date_created` datetime DEFAULT CURRENT_TIMESTAMP,
  `date_updated` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `created_by` int DEFAULT NULL,
  `modified_by` int DEFAULT NULL,
  `tree_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `forest_id` (`forest_id`),
  KEY `farmer_id` (`farmer_id`),
  KEY `district_id` (`district_id`),
  KEY `fk_point_created_by` (`created_by`),
  KEY `fk_point_modified_by` (`modified_by`),
  CONSTRAINT `fk_point_created_by` FOREIGN KEY (`created_by`) REFERENCES `user` (`id`),
  CONSTRAINT `fk_point_district_id` FOREIGN KEY (`district_id`) REFERENCES `district` (`id`),
  CONSTRAINT `fk_point_forest_id` FOREIGN KEY (`forest_id`) REFERENCES `forest` (`id`),
  CONSTRAINT `fk_point_modified_by` FOREIGN KEY (`modified_by`) REFERENCES `user` (`id`),
  CONSTRAINT `point_ibfk_1` FOREIGN KEY (`forest_id`) REFERENCES `forest` (`id`),
  CONSTRAINT `point_ibfk_2` FOREIGN KEY (`farmer_id`) REFERENCES `farm` (`farm_id`),
  CONSTRAINT `point_ibfk_3` FOREIGN KEY (`district_id`) REFERENCES `district` (`id`),
  CONSTRAINT `CONSTRAINT_1` CHECK ((((`owner_type` = _utf8mb4'forest') and (`forest_id` is not null) and (`farmer_id` is null)) or ((`owner_type` = _utf8mb4'farmer') and (`farmer_id` is not null) and (`forest_id` is null))))
) ENGINE=InnoDB AUTO_INCREMENT=180 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `point`
--

LOCK TABLES `point` WRITE;
/*!40000 ALTER TABLE `point` DISABLE KEYS */;
/*!40000 ALTER TABLE `point` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `producecategory`
--

DROP TABLE IF EXISTS `producecategory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `producecategory` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `grade` int NOT NULL,
  `date_created` datetime DEFAULT CURRENT_TIMESTAMP,
  `date_updated` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `producecategory`
--

LOCK TABLES `producecategory` WRITE;
/*!40000 ALTER TABLE `producecategory` DISABLE KEYS */;
INSERT INTO `producecategory` VALUES (1,'Cocoa',1,'2024-06-11 09:14:53','2024-06-11 09:14:53'),(2,'Coffee Robusta',1,'2024-06-11 09:15:10','2024-06-11 09:15:10'),(3,'Coffee Arabica',1,'2024-06-11 09:15:21','2024-06-11 09:15:21'),(4,'Palm Oil',2,'2024-06-11 09:15:38','2024-06-11 09:15:38'),(5,'Soya Bean',3,'2024-06-11 09:15:50','2024-06-11 09:15:50'),(6,'Rubber',1,'2024-06-11 09:16:24','2024-06-11 09:16:24');
/*!40000 ALTER TABLE `producecategory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `soildata`
--

DROP TABLE IF EXISTS `soildata`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `soildata` (
  `id` int NOT NULL AUTO_INCREMENT,
  `district_id` int NOT NULL,
  `internal_id` int NOT NULL,
  `device` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `owner` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `nitrogen` float NOT NULL,
  `phosphorus` float NOT NULL,
  `potassium` float NOT NULL,
  `ph` float NOT NULL,
  `temperature` float NOT NULL,
  `humidity` float NOT NULL,
  `conductivity` float NOT NULL,
  `signal_level` float NOT NULL,
  `date` date NOT NULL,
  `date_created` datetime DEFAULT CURRENT_TIMESTAMP,
  `date_updated` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `created_by` int DEFAULT NULL,
  `modified_by` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `district_id` (`district_id`),
  KEY `fk_soildata_created_by` (`created_by`),
  KEY `fk_soildata_modified_by` (`modified_by`),
  CONSTRAINT `fk_soildata_created_by` FOREIGN KEY (`created_by`) REFERENCES `user` (`id`),
  CONSTRAINT `fk_soildata_district_id` FOREIGN KEY (`district_id`) REFERENCES `district` (`id`),
  CONSTRAINT `fk_soildata_modified_by` FOREIGN KEY (`modified_by`) REFERENCES `user` (`id`),
  CONSTRAINT `soildata_ibfk_1` FOREIGN KEY (`district_id`) REFERENCES `district` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `soildata`
--

LOCK TABLES `soildata` WRITE;
/*!40000 ALTER TABLE `soildata` DISABLE KEYS */;
/*!40000 ALTER TABLE `soildata` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tree`
--

DROP TABLE IF EXISTS `tree`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tree` (
  `id` int NOT NULL AUTO_INCREMENT,
  `forest_id` int NOT NULL,
  `point_id` int NOT NULL,
  `name` varchar(255) NOT NULL,
  `height` float NOT NULL,
  `diameter` float NOT NULL,
  `date_planted` date NOT NULL,
  `date_cut` date DEFAULT NULL,
  `created_by` int DEFAULT NULL,
  `modified_by` int DEFAULT NULL,
  `date_created` datetime DEFAULT CURRENT_TIMESTAMP,
  `date_updated` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `forest_id` (`forest_id`),
  KEY `point_id` (`point_id`),
  KEY `created_by` (`created_by`),
  KEY `modified_by` (`modified_by`),
  CONSTRAINT `tree_ibfk_1` FOREIGN KEY (`forest_id`) REFERENCES `forest` (`id`),
  CONSTRAINT `tree_ibfk_2` FOREIGN KEY (`point_id`) REFERENCES `point` (`id`),
  CONSTRAINT `tree_ibfk_3` FOREIGN KEY (`created_by`) REFERENCES `user` (`id`),
  CONSTRAINT `tree_ibfk_4` FOREIGN KEY (`modified_by`) REFERENCES `user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tree`
--

LOCK TABLES `tree` WRITE;
/*!40000 ALTER TABLE `tree` DISABLE KEYS */;
/*!40000 ALTER TABLE `tree` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(150) COLLATE utf8mb4_general_ci NOT NULL,
  `email` varchar(150) COLLATE utf8mb4_general_ci NOT NULL,
  `password` varchar(150) COLLATE utf8mb4_general_ci NOT NULL,
  `phonenumber` varchar(20) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `user_type` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  `is_admin` tinyint(1) DEFAULT '0',
  `date_created` datetime DEFAULT CURRENT_TIMESTAMP,
  `date_updated` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2024-07-14  1:30:09
