{% extends 'layout.html' %}

{% block title %}
{{ 'Generate QR and E-Receipt' }}
{% endblock %}

{% block content %}
<div class="bg-gray-100">
    <div class="container mx-auto py-8">
        <h1 class="text-2xl font-bold mb-4 text-center">Generate QR Code and E-Receipt for Farmer</h1>
        <form action="{{ url_for('qr.generate_farmer_qr') }}" method="post" class="max-w-sm mx-auto bg-white p-6 rounded-lg shadow-lg">
            <input type="text" name="farm_id" placeholder="Farm ID" class="border p-2 mb-4 w-full rounded" required>
            <input type="text" name="weight" placeholder="Weight (kgs)" class="border p-2 mb-4 w-full rounded" required>
            <input type="text" name="price_per_kg" placeholder="Price per kg (Ugshs)" class="border p-2 mb-4 w-full rounded" required>
            <input type="text" name="total_value" placeholder="Total Value (Ugshs)" class="border p-2 mb-4 w-full rounded" required>
            <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded">Generate QR and E-Receipt</button>
        </form>
    </div>
</div>
{% endblock %}
