<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">

</head>
<body>
    <h1>Login</h1>
    <form method="POST" action="{{ url_for('auth.login') }}">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="{{ url_for('auth.signup') }}">Sign Up here</a></p>
</body>
</html>
